<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <main>
      <h1><%= header %></h1>
      <form action="<%= action %>" method="post">
        <p>
          <label for="productId">Product ID:</label>
          <input type="text" id="productId" name="productId" size="5" value="<%= productId.value %>" <%= productId.readonly %> >
        </p>
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" size="15" value="<%= name.value %>" <%= name.readonly %> >
        </p>
        <p>
          <label for="model">Model:</label>
          <input type="text" id="model" name="model" size="10" value="<%= model.value %>" <%= model.readonly %> >
        </p>
        <p>
          <label for="price">Price:</label>
          <input type="text" id="price" name="price" size="5" value="<%= price.value %>" <%= price.readonly %> >
        </p>
        <p>
          <label for="type">Type:</label>
          <input type="text" id="type" name="type" size="10" value="<%= type.value %>" <%= type.readonly %> >
        </p>
        <button type="submit">Submit</button>
      </form>
      <a href="/"><button>Menu</button>
    </main>
  </body>
</html>
