<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <meta http-equiv="refresh" content="<%= delay %>; url=<%= url %>">
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p class="<%= mode %>"><%= info %></p>
    </main>
  </body>
</html>
